<div class="messagealert" ng-repeat="alert in alerts.success">
  <div class="alert alert-success alert-dismissible superposition">
    <a href class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div class="text-center">
      <strong>Se creó un nuevo evento.</strong></a>.
    </div>
  </div>
</div>

<div class="messagealert" ng-repeat="alert in alerts.errors">
  <div class="alert alert-danger alert-dismissible superposition">
    <a href class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div class="text-center">
      <strong>Ocurrió un error al intentar crear el evento.</strong></a>.
    </div>
  </div>
</div>

<form ng-if="isAuthenticated">
  <h3 class="text-center"> Crear evento </h3>
  <div class="form-group">
    <label>Nombre del evento</label>
    <input class="form-control" ng-model="event.title" placeholder="Nombre del evento" required>
  </div>
  <hr />
  <div class="form-group">
    <label for="exampleTextarea">Descripción</label>
    <textarea class="form-control" rows="3" ng-model="event.description" placeholder="Escriba una descripción del evento." required></textarea>
  </div>
  <hr />
  <div class="form-group">
    <label>Lugar del evento</label>
    <input class="form-control" ng-model="event.place.name" placeholder="Nombre del lugar" required>
    <input class="form-control" ng-model="event.place.address" placeholder="Dirección del lugar" required>
  </div>
  <hr />
  <div class="form-group">
    <label for="exampleInputFile">Imágen</label>
    <input class="form-control" ng-model="event.imgUrl" placeholder="Url de una imágen (opcional)">
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">

      <div style="display:inline-block; min-height:290px;">
        <label>Fecha del evento</label>
        <div uib-datepicker ng-model="dt" class="well well-sm" ng-change="setDate(dt)" datepicker-options="options"></div>
      </div>
    </div>
    <div class="col-md-6">
      <label>Horario del evento</label>
      <div uib-timepicker ng-model="mytime" hour-step="hstep" minute-step="mstep" ng-change="setTime(mytime)" show-meridian="ismeridian"></div>
    </div>
    <pre class="alert alert-info"><em>{{dt | date:'fullDate' }}</em></pre>
    <pre class="alert alert-info">{{mytime | date:'shortTime' }}</pre>
  </div>
  <hr />
  <div class="form-group">
    <label>Precio del evento</label>
    <input class="form-control" ng-model="event.price" placeholder="Precio del evento" required>
  </div>
  <hr />
  <button type="submit" class="btn btn-primary" ng-click="createEvent()">Crear evento</button>

</form>
<br>
