<div class="container">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item" ng-class="{'item active': $first}" ng-repeat="event in mostPopularEvents">
          <img ng-src="{{event.urlImg}}" alt="...">
          <div class="carousel-caption">
            <h2>{{event.title}}</h2>
          </div>
        </div>
    </div>
    <!-- Controls -->
    <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>-->
  </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="margin-label"><span class="label label-default col-sm-12 margin-label">Música</span></h2>
    <div class="col-sm-12 col-md-4" ng-repeat="event in mostPopularEvents">
      <div class="thumbnail eventPreview">
        <img class="img-event" ng-src="{{event.urlImg}}" alt="...">
        <div class="caption">
          <h4>{{event.title}}</h4>
          <p><a href="#" class="btn btn-primary" role="button">Más info</a> <a href="#" class="btn btn-default" role="button">Asistiré</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="margin-label"><span class="label label-default col-sm-12 margin-label">Cine</span></h2>
    <div class="col-sm-12 col-md-4" ng-repeat="event in mostPopularEvents">
      <div class="thumbnail eventPreview">
        <img class="img-event" ng-src="{{event.urlImg}}" alt="...">
        <div class="caption">
          <h4>{{event.title}}</h4>
          <p><a href="#" class="btn btn-primary" role="button">Más info</a> <a href="#" class="btn btn-default" role="button">Asistiré</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="margin-label"><span class="label label-default col-sm-12 margin-label">Gastronomía</span></h2>
    <div class="col-sm-12 col-md-4" ng-repeat="event in mostPopularEvents">
      <div class="thumbnail eventPreview">
        <img class="img-event" ng-src="{{event.urlImg}}" alt="...">
        <div class="caption">
          <h4>{{event.title}}</h4>
          <p><a href="#" class="btn btn-primary" role="button">Más info</a> <a href="#" class="btn btn-default" role="button">Asistiré</a></p>
        </div>
      </div>
    </div>
  </div>
  <h2><a href="#/search-events"><span class="col-sm-12 label label-info margin-label">Ver todos los eventos</span></h2>
</div>
