<div class="container">
  <div class="row">
    <div class="custom-search-input">
      <div class="input-group col-md-12">
      <input type="text" class="  search-query form-control" placeholder="{{'SEARCH' | translate}}" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class=" glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4" ng-repeat="event in events">
      <div class="thumbnail eventPreview">
        <img class="img-event" ng-src="{{event.urlImg}}" alt="...">
        <div class="caption">
          <h4>{{event.title}}</h4>
          <p><a ng-click="showEventDetail(event.id)" class="btn btn-primary" role="button">Más info</a> <a class="btn btn-default" role="button">Asistiré</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination-centered">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li ng-repeat="i in getPages(pages) track by $index">
        <a href ng-click="loadPage($index+1)">{{$index+1}}</a>
      </li>
      <li>
        <a href aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
