<div class="container" ng-if="isAuthenticated">

  <h3 class="text-center" >Seleccionar tipo de evento</h3>

	<div class="row category-child" style="margin-top:20px">
		<div class="col-md-4 thumb ">
      <a class="thumbnail" ng-click="selectEventType('music')" >
        <img class="img-responsive" src="/images/music.ico" alt="">
        <div class="wrapper">
          <div class="caption post-content">
            <span>Música</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 thumb ">
      <a class="thumbnail" ng-click="selectEventType('movie')" >
        <img class="img-responsive" src="/images/movie.png" alt="">
        <div class="wrapper">
          <div class="caption post-content">
            <span>Cine</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4  thumb ">
      <a class="thumbnail" ng-click="selectEventType('food')">
        <img class="img-responsive" src="/images/food.png" alt="">
        <div class="wrapper">
          <div class="caption post-content">
            <span>Gastronomía</span>
          </div>
        </div>
      </a>
    </div>
	</div>

</div>
